[buildout]
develop = .
parts = test
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.publication [test]

[versions]
# This version is needed so the DemoStorage has undoInfo().
ZODB3 = 3.8.1
